|<mjml>
|    <mj-body>
|      <mj-section>
|        <mj-column>
|          <mj-text>
if (domainApp === 'TurinPay')
   p TurinPay detected
else
  p Another App detected
|          </mj-text>
|          <mj-text>
|            #{greetings}      
|          </mj-text>
|        </mj-column>
|      </mj-section>
|    </mj-body>
| </mjml>